.container-fluid {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #00519726;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #005197;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00519773;
}

.header {
  background-color: white;
  height: 65px;
  box-shadow: 0px 3px 3px 0px #b4d2ec52;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.sidebar-container {
  position: fixed;
  top: 66px;
  left: 0;
  height: 100vh;
  width: 280px;
  background-color: #005197;
  overflow-x: hidden;
  transition: width 0.5s ease;
  z-index: 1000;
}

.sidebar-container.collapsed {
  width: 65px;
}

.sidebar-container.expanded {
  width: 280px;
  background-color: #005197CC;
}

.btn.nav-btn {
  color: white;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  text-align: left;
  white-space: nowrap;
}

.btn.nav-btn:hover {
  background-color: #FFFFFF4D;
  color: white;
}

.btn.nav-btn.active {
  background-color: white;
  color: #005197;
  font-size: 16px;
  font-weight: 500;
}

.user-profile {
  font-weight: 600;
  color: #005197;
}

.content-container {
  flex: 1;
  margin-left: 65px;
  padding: 20px;
}

.content-container.collapsed,
.content-container.expanded {
  margin-top: 65px;
  background-color: #F9FAFB;
}

/* Dashboard */
.project-counts {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 10px 10px 0px #00519726;
}

.icon {
  align-self: center;
}

.value {
  color: #005197;
  font-size: 17px;
}

.report-feild {
  font-size: 14px;
}

/* Form Inputs */
.form-input,
.form-input:focus {
  outline: none;
  border-radius: 8px;
  border: 1px solid #005197CC;
  height: 45px;
  font-size: 14px;
  padding-left: 6px;
  color: grey;

}

.projectform-select,
.projectform {
  position: absolute;
  background-color: white;
  margin-left: 19px;
  margin-top: -10px;
  padding-left: 6px;
  padding-right: 5px;
  font-size: 12px;
  z-index: 1;
}

.select__control {
  border-radius: 8px !important;
  border: 1px solid #005197CC !important;
  height: 40px;
  font-size: 14px;
  padding-left: 6px;
  color: grey;
  box-shadow: none;
  text-align: left !important;
}

.select__control--is-focused {
  border: 1px solid #005197 !important;
  outline: none !important;
  box-shadow: none !important;
}

.select__placeholder {
  color: grey;
  font-size: 14px;
}

.select__option {
  cursor: pointer !important;
  text-align: start !important;
  color: #005197b7 !important;
  font-size: 14px !important;
  height: 35px !important;
}

.select__option:hover {
  background-color: #005197;
  color: white !important;
}

.select__option--is-selected {
  background-color: #005197 !important;
  color: white !important;
}

label {
  font-size: 14px;
}

.project-detail {
  font-size: 14px;
}

.change-view {
  outline: none;
  border: none;
  background-color: white;
  padding: 3px;
  min-width: 3%;
  color: #005197;
  border-radius: 5px;
}

.change-view.active {
  outline: none;
  border: none;
  background-color: #005197;
  transition: 0.3s ease;
  width: 3%;
  color: white;
}

.table-container {
  font-size: 14px;
}

/* Project Creation */
.tab {
  border: none;
  background-color: white;
  color: grey;
}

.tab.enabled:hover,
.tab.active {
  background-color: white;
  color: #005197;
  border-bottom: 2px solid #005197;
}

.tab.enabled {
  color: black;
}

.tab-info {
  background-color: #005197;
  color: white;
}
.btn.action-button {
  background-color: #005197;
  color: white;
}
.btn.action-button:hover{
  background-color: #005197CC;
  color: white;
  transform: scale(0.93);
}
.estimation-container{
  background-color: #0051970A;
  border-radius: 10px;
}